
:root {
    --primary-color: #35EDC0;
    --bg-color: #121212;
    --light-color: #fff;
}

/* General */
body {
    background: var(--bg-color);
    color: var(--light-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 2rem;
}

img {
    width: 100%;
}

.btn {
    transition: 0.4s;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.map:hover,
.map:hover::before,
.map:hover::after {
    color: var(--bg-color);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    opacity: 0.8;
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


th, td {
    color: var(--light-color) !important;
    border-top: none !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #1A1E1E;
}

section, #faq {
    margin-top: 100px;
}

/* Header */
header {
    z-index: 100;
    background: linear-gradient( transparent, rgba(53, 237, 192, 0) );
    transition: 0.4s;
    top: 0;
}

.header-bg {
    transition: 0.4s;
    background: linear-gradient( transparent, rgba(53, 237, 192, 0.2) );
    backdrop-filter: blur(7px);

}

.navbar-brand {
   width: 110px;
}

.nav-link {
    color: var(--light-color);
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--primary-color);
}

/* Hero */
#hero {
    position: relative;
    height: 100%;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }


/* section one */
.phone {
    max-width: 450px;
}

/* section two */
.advantage {
    border-radius: 16px;
    background: center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-inline: auto;
}

.advantage * {
    z-index: 1;
    position: relative;
}

.advantage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center/cover no-repeat;
}

.advantage-1,
.advantage-4 {
    background-image: url('images/longgradient2.png');
}

.advantage-1::before,
.advantage-4::before {
    background-image: url('images/longshade.png');
}

.advantage-2 {
    background-image: url('images/gradient2.png');
}

.advantage-3 {
    background-image: url('images/gradient1.png');
}

.advantage-2::before,
.advantage-3::before {
    background-image: url('images/smallshade.png');
}

.browser {
    width: 30px;
    
}

.browser img {
    height: 33px;
    width: 30px;
}

/* Roadmap */
.box {
    border: solid 2px var(--primary-color);
    text-align: center;
    padding: 40px;
    border-radius: 16px;
    width: 100%;
    max-width: 300px;
}

.box-1 {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.box-1 .btn {
    background-color: var(--bg-color);
}

/* FAQ */
.card {
    background-color: transparent;
}
.card-header {
    background-color: #1A1E1E;
}

.card .btn:focus {
    box-shadow: none !important;
}

.card .btn-link {
    color: var(--light-color);
}
.card .btn-link:hover,
.card .btn-link:focus {
    color: var(--primary-color);
    text-decoration: none;
}

/* Section four */
.advantage-5 {
    background-image: url('images/longgradient.png');
}

@media (max-width: 576px) {
    h1, h2, h3, h4 {
        text-align: center;
    }
}

/* Roadmap */

#roadmap {
    padding-top: 7rem;
}

.road-heading {
    margin-bottom: 5rem;
}

.maps {
    position: relative;
}

.road-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: var(--primary-color);
    height: 1px;
}

.map-body {
    width: 100%;
    min-height: 400px;  
}


.map {
    border: solid 1px var(--primary-color);
    padding: 12px;
    border-radius: 5px;
    align-self: flex-start;
    text-align: center;
    position: relative;
    transition: 0.4s;
}

.map::before {
    content: "";
    background-color: var(--bg-color);
    width: 15px;
    height: 15px;
    rotate: 47deg;
    border: solid 1px var(--primary-color);
    position: absolute;
    left: 43%;
    transform: translate(-50%, -50%);
    bottom: -19px; 
    transition: 0.4s;
}

.map::after {
    content: "";
    background-color: var(--bg-color);
    width: 15px;
    height: 15px;
    rotate: 47deg;
    border: solid 1px var(--primary-color);
    position: absolute;
    left: 43%;
    transform: translate(-50%, -50%);
    bottom: -89px; 
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s;
}

.map h5 {
    margin-bottom: 1rem;
}

.map:nth-child(odd) {
    align-self: flex-end;
    
}

.map:nth-child(odd)::before {
    border-right: none;
    border-bottom: none;
    top: 2.5px;
}

.map:nth-child(even)::before {
    border-left: none;
    border-top: none;
}

.map:nth-child(odd)::after {
    top: -68px;
}


/* TOKENOMICS */
#tokenomics {
    position: relative;
  }
  
  .token-img {
    max-width: 700px;
    margin-top: 40px;
    margin-inline: auto;
  }

  .text {
    font-size: 1.2rem;
  }
  

  

  


@media (max-width: 991px) {
    .map-body {
        min-height: 500px;
    }
}

@media (max-width: 767px) {
    .map-body {
        display: block !important;
        border-left: solid 1px var(--primary-color);
        padding-left: 25px;
    }

    .map {
        margin-bottom: 1rem;
        width: 100%;
    }

    .map::before {
        left: -9px;
        top: 45%;
    }
  
    .map::after {
        left: -36px;
        top: 45%;
    }
  
    
    .map:nth-child(odd)::before {
        border: solid 1px var(--primary-color);
        border-right: none;
        border-top: none;
        top: 45%;
    }
    
    .map:nth-child(even)::before {
        border: solid 1px var(--primary-color);
        border-right: none;
        border-top: none;
    }
    
    .map:nth-child(odd)::after {
        top: 45%;
    }
    
   

    .road-line {
     display: none;
    }

    
}